body {
    background-color: #383838;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }
  .container {
    
    border: 1px solid #d2d2d2;
    box-shadow: 0px 1px 6px -2px #807f7f;
    border-radius: 8px;
    margin-top: 14px;
    padding: 14px;
  }
  .containerB {
  border: 1px solid #54ffcb;
  box-shadow: 0px 1px 6px -2px #807f7f;
  border-radius: 8px;
  margin-top: 14px;
  padding: 14px;
  color: #54ffcb;
  background-color: #404040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  }

  img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
  } 

  button {
    color: #101010;
    background-color: #54ffcb;
    width: 20%;
    font-weight: bold;
    border-radius: 4px;
    font-family: 'Quantico', sans-serif;
}
  